* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #133932;
    color: #fff;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

#fare {
    display: none;
}

#inputEdit {
    display: none;
}

#modFinita {
    display: none;
}

.new-task {
    display: flex;
}

.fatto {
    text-decoration: line-through;
    opacity: 0.5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.content {
    border-radius: 50px;
    background: linear-gradient(145deg, #11332d, #143d36);
    box-shadow:  20px 20px 60px #10302b,
                -20px -20px 60px #16423a;
    padding: 60px;
    width: 60%;
}

.int {
    display: flex;
    justify-content: space-between;
}

input {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #fff;
    font-size: 20px;
    padding-left: 20px;
    width: 100%;
}

.aggiungi {
    height: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: #1a4d44;
    color: #fff;
    padding: 0 10px;
    background: #205b50;
    box-shadow: inset 9px 9px 18px #1b4d44,
            inset -9px -9px 18px #25695c;
}

::placeholder {
    color: #fff;
    opacity: 0.2;
}

.new-task {
    margin-top: 10px;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: space-between;
}

.bottoni #fatto {
    height: 50px;
    border: none;
    background-color: #1a4d44;
    color: #fff;
    padding: 0 10px;
    background: #205b50;
    box-shadow: inset 9px 9px 18px #1b4d44,
            inset -9px -9px 18px #25695c;
}

.bottoni #edit {
    height: 50px;
    border: none;
    background-color: #1a4d44;
    color: #fff;
    padding: 0 10px;
    background: #205b50;
    box-shadow: inset 9px 9px 18px #1b4d44,
            inset -9px -9px 18px #25695c;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bottoni {
    display: flex;
}