/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #2f2a49;
    color: #fff;
} */

#fare {
    display: none;
}

#inputEdit {
    display: none;
}

#modFinita {
    display: none;
}

.new-task {
    display: flex;
}

.fatto {
    text-decoration: line-through;
    opacity: 0.5;
}